# Env files
.env
**/.env
*.env

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/
uv.lock
backend/data/*.db

# Node / frontend
node_modules/
frontend/node_modules/
.npm/
dist/
*.log
bun.lock
bun.lockb
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
